$base-color: #54a8ec;
$darker-color: rgba(0, 160, 227, 0.2);

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
         url($font-file+'.woff') format('woff'),
         url($font-file+'.ttf') format('truetype'),
         url($font-file+'.svg#'+$font-family) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}


@include font('Piasniar', '/assets/Piasniar');

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
            font-family: 'Piasniar', sans-serif;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
p{
    a{
        display: inline-block;
        font-style: italic;
        border-bottom: 1px solid $base-color;
        line-height: 0.9;
        transition: background-color 0.1s cubic-bezier(.33,.66,.66,1);
    }
    a:hover{
        background-color: $darker-color;
        border-bottom: none;
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    .content{
        order: 1;
        width: 55%;
    }

}


footer{
    text-align: center;
    font-size: .85rem;
    margin-bottom: 10px;
    margin-top: 20px;
    a{
        text-decoration: none;
        color: black;
    }
}
