<!doctype html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {%- include header.html -%}
  <div class="container">
      <div class="content ">
        {{ content }}
        
      </div>

      <div class = "sidebar">
        {%- include sidebar.html -%}
      </div>
   
  </div>

  {%- include footer.html -%}

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

{%- include playerjs.html -%}


<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.4/firebase-app.js";
  import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.9.4/firebase-messaging.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyCWNvmJYUnLj9J3d2pKLoA4I09fGHiA-_w",
    authDomain: "noted-processor-92815.firebaseapp.com",
    databaseURL: "https://noted-processor-92815.firebaseio.com",
    projectId: "noted-processor-92815",
    storageBucket: "noted-processor-92815.appspot.com",
    messagingSenderId: "363634336895",
    appId: "1:363634336895:web:d2d5d53b051cc1b0908b4a"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const messaging = getMessaging();
  getToken(messaging, { vapidKey: 'BBbN5pRqfAOot22I87Axc4NMp9Ty1mdyEq1HEINYyDbB7GuXSyoUsRlDlQjUaOE8lxTanU4e37KJ9Wn-bVThEf0' }).then((currentToken) => {
  if (currentToken) {
    console.log("GOT TOKEN")
  } else {
    console.log('No registration token available. Request permission to generate one.');
  }
}).catch((err) => {
  console.log('An error occurred while retrieving token. ', err);
});


</script>
</body>
</html>
